* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif; 
} 

input,
textarea {
  width: 200px; /* Change the width */
  height: 30px; /* Change the height */
  margin-bottom: 10px;
}

select[name="priority"] {
  width: 200px; /* Change the width */
  height: 30px; /* Change the height */
  margin-left: 70px;
}

.title{
  margin-left: 70px;
  font-size: 20px;
  color: black;
  
}
.labeltitle{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 15px;
  background: fixed;
  background-color:aqua;
  padding:10px;
}

.description {
  font-size: 20px;
  margin-left: 70px;
}
.labeldescription{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: blueviolet;
  margin-bottom: 15px;
  background: fixed;
  background-color:orange;
  padding:10px;
}
.category {
  font-size: 20px;
  margin-left: 70px;
  color: blue;
}
.labelcategory{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 15px;
  background: fixed;
  background-color:yellow;
  padding:10px;
}
.date {
  font-size: 20px;
  margin-left: 70px;
  color: #ffff00;
}
.labeldate{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 15px;
  background: fixed;
  background-color: green;
  padding:10px;
}
.priority {
  font-size: 20px;
  margin-left: 70px;
  color: white;
  
}
.labelpriority{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding:10px;
  background: fixed;
  background-color: blue;
}

#newdailyTaskForm {
  width: 750px; 
  height: 650px; 
  font-size: 70px;
  background-color:darkred;
  color:black;
  border: solid;
  border-width: 5px;
  border-color: black;
  margin-right: 100px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
 }

#newdailyTaskForm input{
  margin-left: 70px; 

}

h1{
  margin-right: 200px;
  margin-left: 0px;
  color: red;
  margin-top: 10px;
}

h2{
  margin-left: 0px;
  margin-right: 0px;
  color:red;
  font-size: 25px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-image: none;
  background-color: yellow;
  border-style: dashed;
  border-width: 4px;
  border-color: black;
  width: 500px;
  height: 30px;
}

h3 {
margin-left: 500px;
  margin-right: 0px;
  color:purple;
  font-size: 20px;
  padding-bottom: 10px;
  
   
}

p {
font-size: 20px;
background: scroll;
background-color:black;
border-style: solid;
border-width: 3px;
border-color: white;
/* margin-bottom: 10px; */
padding-top: 0px;
width: 500px;
height: 30px;
color: yellow;
text-align:left
}

#save-task {
  font-size: 30px;
  background-color: black;
  color: white;
  width: 250px;
  margin-left: 0px;
  border: none;
  margin-top: 0px;
  transition: background-color 0.3s;
  border-radius: 10px 10px 10px 10px;
 
}
#save-task:hover {
  background-color: green;
}
#clear-tasks {
  margin-left: 460px;
  margin-bottom: 100px;
  font-size: 30px;
  background-color: darkblue;
  color: yellow;
  border: none;
  transition: background-color 0.3s;
  border-radius: 10px 10px 10px 10px;
  width: 265px;
}
#clear-tasks:hover {
  background-color: red;
}
.save-clear-button {
  display: flex;
  margin-bottom: 50px;
}
.content-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center; 
  margin-top: 50px;
  margin-left: 90px;
}

body {
  font-family: "monospace";
  padding-top: 0px;
  background-color: tomato;
  display: flex;
  justify-content: center; 
  height: 100vh; 
  margin-top: 20px;
  margin-left: 300px;
  width: 800px ;
  }

  .header-container{
    margin-left: 80px;
    background-color: yellow;
    border-radius: 40px 40px 40px 40px; /* Top-left, top-right, bottom-right, bottom-left */
    border-style: solid;
    border-width: 5px;
    border-color: black;

    }


 .app-name{
  margin-left: 200px;
  font-size: 50px;
  justify-content: center;
  text-align: justify;
 }
